<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AUDIO_UI" configfailurepolicy="continue">
  <test thread-count="5" name="Test" preserve-order="true">
	<classes>
		<class name="audio.ui.runners.AudioRunner" />
	</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
